<%= form_with(model: inventario, local: true) do |form| %>
  <% if inventario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventario.errors.count, "error") %> prohibited this inventario from being saved:</h2>

      <ul>
      <% inventario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :inventario_name %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, id: :inventario_cantidad %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :inventario_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
